.header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap :10px;
    justify-content: center;
    

}
.header-img{
    max-width: 250px;
}
.header-menu  a {
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 1.3;
    padding:10px 15px;
    color:#141414;
    display: block;
    
    
}

@media (max-width: 600px){
    .header{
        flex-direction: column;
        gap:30px;
        padding: 20px;
    }
    .header-menu a {
        border-radius: 5px;
        background: lightgrey;
        
        
        
   
        
    }
}